---
layout: default

images:
  - url: meriden/1.jpg
  - url: meriden/2.jpg
  - url: meriden/3.jpg
  - url: meriden/4.jpg
  - url: meriden/5.jpg
---
<div class="main-gallery">
  <!-- {% for image in page.images %}
    <div class="main-gallery__item"
         style="background-image: url(/images/{{ image.url }})"
    ></div>
  {% endfor %} -->
  <div class="main-gallery__item"
    style="background-image: url(/images/meriden/1.jpg)"
  ></div>
  <div class="main-gallery__item"
    style="background-image: url(/images/meriden/2.jpg)"
  ></div>
  <div class="main-gallery__item"
    style="background-image: url(/images/meriden/3.jpg)"
  ></div>
  <div class="main-gallery__item"
    style="background-image: url(/images/meriden/4.jpg)"
  ></div>
  <div class="main-gallery__item"
    style="background-image: url(/images/meriden/5.jpg)"
  ></div>
</div>
<div class="main-gallery__nav">
  <div class="nav-gallery">
      <div class="nav-gallery__item"
        style="background-image: url(/images/meriden/1.jpg)"
      ></div>
      <div class="nav-gallery__item"
        style="background-image: url(/images/meriden/2.jpg)"
      ></div>
      <div class="nav-gallery__item"
        style="background-image: url(/images/meriden/3.jpg)"
      ></div>
      <div class="nav-gallery__item"
        style="background-image: url(/images/meriden/4.jpg)"
      ></div>
      <div class="nav-gallery__item"
        style="background-image: url(/images/meriden/5.jpg)"
      ></div>
    </div>
</div>
